<div class="container">
  <h1>Movies</h1>
  <%= render "shared/title_table", :type => "movie", :titles => @movies %>
  <%= link_to "Previous", "/movies?offset=#{@offset - 25}", :class => "btn #{@offset == 0 ? 'btn-disabled disabled' : 'btn-secondary'}", :hide_by_default => false %>
  <%= link_to "Next", "/movies?offset=#{@offset + 25}", :class => "btn btn-secondary" %>
</div>
